html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url(books.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #000;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

#h1right{
    color: #ffe500;
    font-family: 'Lobster', cursive;
    font-size:88px;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 25px;
}

.right{
    background: rgba(255, 255, 255, 0.28);
    height: 100%;
    line-height: 1.3;
    right: 5%;
    position: fixed;
    width: 50%;
    top: 10%;
}

p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #000;
    padding-bottom: 30px;
}

.btn-group {
  border: 3px solid #ffe500;
  margin-left: 270px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 14px;
  border-radius: 6px;
  font-weight: 900;
}

.btn {
  font-weight: 900;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 900;
}
