.navbar {
  background-color: #F2EFEF;
}

.navbar-default .navbar-brand {
  color: #ffe500;
  font-family: 'Lobster', cursive;
  font-size:24px;
}

.navbar-form {
  padding-right: 200px;
}

#book-title {
  font-family: 'Raleway', sans-serif;
  font-size:28px;
  font-weight: 900;
}

body {
  font-family: 'Raleway', sans-serif;
}