<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway:200,300,500,700" rel="stylesheet">
  
  <title>LitBits</title>
  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>

<!-- Static nav bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->

      <div class="navbar-header" id="litbits">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/home">LitBits</a>
      </div>

        <!-- Search bar -->

        <form class="navbar-form navbar-left" action="/search" method="GET">
            <div class="form-group">
              <input id="tags" type="text" class="form-control" name="q" placeholder="Search">
            </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <!-- Jinja logic to only show specific links depending on user login state -->
        {% if 'user_id' in session %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="modal" data-target="#SignUpModal">
            Sign up</a></li>
            <li><a href="#" data-toggle="modal" data-target="#LogInModal">Log In</a></li>
          </ul>
        {% endif %}
        <!-- end Jinja logic -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- Body of Page -->

  <div class="flash_message">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
  </div>

    {% block content %} 
      put your content here 
    {% endblock %}

  <!-- Modal Window for Sign up -->

  <div class="modal fade" id="SignUpModal" tabindex="-1" role="dialog" aria-labelledby="SignUpModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="SignUpHeader">Sign up for an account</h4>
        </div>
        <div class="modal-body">
          <form id="register" action="/register" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            </div>
            <div class="form-group">
             <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
            </div>
            <div class="modal-footer">
              <a href="/login">Already have an account with us? Log in.</a><br>
              <input type="submit" class="btn btn-default" value="Sign up"></input> 
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Modal Window for login page -->

<div class="modal fade" id="LogInModal" tabindex="-1" role="dialog" aria-labelledby="LogInModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="LogInHeader">Log in to LitBits</h4>
        </div>
        <div class="modal-body">
          <form id="login" action="/login" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" id="login_email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="login_password" name="password" placeholder="Password">
            </div>
            <div class="modal-footer">
              <a href="/register">Don't have an account with us? Sign up.</a><br>
              <input type="submit" class="btn btn-default" value="Log in"></input> 
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/jquery.validate.js"></script>
<script src="/static/sign_up_form.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/autocomplete.js"></script>

</body>
</html>