{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
        
        <img src={{ book.book_cover }} alt="Responsive image" class="img-rectangular">    
    </div>
    <div class="col-md-6">
            <h3 id="book-title">{{ book.title}}</h3>
            <p id="author">Author:</p>
                {% for author in book.author %}
                    <a href="/author/{{ author.author_id }}">{{ author.name}}</a>
                {% endfor %}
            <br>
            <label> Released in: {{ book.release_year }}</label>
            <br>
            <p> {{ book.mini_summary }} </p>
            <br>
            <label>Genres</label>
                {% for genre in book.genres %}
                    <li><a href="/genre/{{ genre.genre_id }}">{{ genre.genre}}</a></li>
                {% endfor %}
            <br><br>
    </div>

  </div>
</div>
   
        

{% endblock %}