{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4">
        
        <img src={{ book.book_cover }} alt="Responsive image" class="img-rectangular">
        <br></br>
        <a href={{ book.url }}><button type="button" class="btn btn-default">DOWNLOAD</button></a>    
    </div>
    <div class="col-md-8">
            <h2 id="book-title">{{ book.title}}</h2>

            <dl class="dl-horizontal">
                <dt><p id="author">Written by:</p></dt>
              
            

                
                {% for author in book.author %}
                    <dd><a href="/author/{{ author.author_id }}">{{ author.name}}</a></dd>
                {% endfor %}
                
            <br>
            <dt> Released in:</dt> 
                <dd>{{ book.release_year }}</dd>
            <br>
            <dt> Summary:</dt>
            <dd> {{ book.mini_summary }}</dd>
            <br>
            <dt>Genres</dt>
                
                {% for genre in book.genres %}
                    <dd><a href="/genre/{{ genre.genre_id }}">{{ genre.genre}}</a></dd>
                {% endfor %}
                
            <br><br>
            </dl>

    </div>

  </div>
</div>
   
        

{% endblock %}