{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-3">
        <div id class="thumbnails">
          <a href="/genre/2"><img src="/static/fantasy.jpeg"></a>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div id class="thumbnails">
          <a href="/genre/4"><img src="/static/mystery.jpeg"></a>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div id class="thumbnails">
          <a href="/genre/1"><img src="/static/Fiction.jpeg"></a>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div id class="thumbnails">
          <a href="/genre/3"><img src="/static/romance.jpeg"></a>
        </div>
    </div>
    </div>  

  <br>
  <div class="row">
    <div class="col-xs-6 col-md-3">
        <div id class="thumbnails">
          <a href="/genre/5"><img src="/static/short_stories.jpeg"></a>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div id class="thumbnails">
          <a href="/genre/18"><img src="/static/biography.jpeg"></a>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div id class="thumbnails">
          <a href="/genre/16"><img src="/static/action.jpeg"></a>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div id class="thumbnails">
          <a href="/genre/13"><img src="/static/horror.jpeg"></a>
        </div>
    </div>
    </div>  
    <br>

    <div class="row">
    <div class="col-xs-6 col-md-3">
        <div id class="thumbnails">
          <a href="/genre/20"><img src="/static/ya.jpeg"></a>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div id class="thumbnails">
          <a href="/genre/21"><img src="/static/war.jpeg"></a>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div id class="thumbnails">
          <a href="/genre/6"><img src="/static/drama.jpeg"></a>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div id class="thumbnails">
          <a href="/genre/28"><img src="/static/fairy.jpeg"></a>
        </div>
    </div>
    </div> 
    <br>
</div>

{% endblock %}