{% extends 'base.html' %}
{% block content %}

    <h2>Show all</h2>
        <ul>
            {% if search_results[0] is defined and search_results[0]|length > 0 %}
                {% for item in search_results[0] %}
                    <li><a href="/book/{{ item.book_id }}">{{ item.title }}</a></li>
                {% endfor %}
            {% endif %}
            {% if search_results[1] is defined and search_results[1]|length > 0 %}
                {% for item in search_results[1] %}
                    <li><a href="/author/{{ item.author_id }}">{{ item.name }}</a></li>
                {% endfor %}
            {% endif %}
            {% if search_results[2] is defined and search_results[2]|length > 0 %}
                {% for item in search_results[2] %}
                    <li><a href="/genre/{{ item.genre_id }}">{{ item.genre }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>

{% endblock %}